body {
    font-family: Arial, sans-serif
}

.main-container {
    background-color: #fff268;
    padding: 5px 5px 8px 20px;
  }
  
.container2 {
    background-color: white;
    height: 800px;
    display: flex;
    padding: 18px 0px 12px 7px;
  }
  
h1 {
    padding-left: 2px;
    margin: 0;
  }
  
.container3 {
    width: 500px;
    height: 288px;
    background-color: #ffac27;
    margin-right: 15px;
    padding: 5px 6px 8px 6px;
  }
  
h2 {
    margin: 0px;
  }
  
.container4 {
    background-color: #ffe427;
    height: 250px;
    display: flex;
    padding: 10px 8px 0px 8px;
  }
  
h3 {
    color: white;
    margin: 0px;
  }
  
.container5-1 {
    background-color: #ff8223;
    height: 73px;
    width: 230px;
    padding: 5px 3px 8px 3px;
    margin-right: 10px;
  }
  
.container6-1 {
    background-color: #ffe427;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
  }
  
.container5-2 {
    background-color: #ff8223;
    height: 92px;
    width: 230px;
    padding: 5px 3px 8px 3px;
  }
  
.container3-3 {
    width: 500px;
    height: 450px;
    background-color: #ffac27;
    margin-right: 15px;
    padding: 5px 6px 8px 6px;
  }
  
.container4-3 {
    background-color: #ffe427;
    height: 416px;
    padding: 10px 8px 0px 8px;
  }
  
.sm {
    margin: 0px;
  }
  
.container5-3 {
    background-color: #ff8223;
    height: 163px;
    width: 230px;
    padding: 5px 3px 8px 3px;
    margin-right: 10px;
  }
  
.container5-2-1 {
    background-color: #ff8223;
    height: 108px;
    width: 230px;
    padding: 5px 3px 8px 3px;
  }
  
.a1812 {
    float: left;
  }
  
.a1819 {
   float: right;
  }
  
.a1900 {
    float: left;
    margin-top: 22px;
  }
  
.a1911 {
    float: right;
    margin-top: 22px;
  }
  
.a1947 {
    float: right;
    margin-top: 20px;
  }